

* { 
    background-color: grey;
    margin: 0px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
}

.header{
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100vw;
    background-color :rgb(65, 87, 175);
    z-index: 100;
    
}

.header h1{
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: transparent;
    color: white;
}

.header label{
    background-color: transparent;
    position: relative;
    float: left;
    margin-left: 10px;
    top: 70%;
    color: white;
}



.header form{
    background-color: transparent;
}

.button{
    background-color: rgb(53, 207, 207);
    border:none;
    border-radius: 7px;
    color: white;
}
.header form button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 45%;
}

#createBtn{
    right: 150px;
    font-size: 1em;
}

#enterBtn{
    right: 20px;
    font-size: 1em;
}

#logOutBtnID{
    right: 20px;
    font-size: 1em;
}

#playerLbl{
    background-color: rgb(255, 205, 54);
    font-size: 1.3em;
}

.player-div{
    position: absolute;
    top: 60px;
    width: 200px;
    bottom: 0px;
    background-color: white;
    border-right: 2px solid grey;

}

.player-div button{
    position: relative;
    width: 100%;
    height: 30px;
    border:none;
    font-size: 1em;
}


.player-div .player-btm-div{
    background-color: white;
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
    bottom: 0px;
}

.player-div .player-btm-div label{
    position: relative;
    width: 100%;
    height: 30px;
    border-top: 2px solid rgb(255, 205, 54);
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.player-div .player-btm-div button{
    height: 30px;
    margin-bottom: 5px;
    width: 80%;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    
   
}

.map-div{
    position: fixed;
    width: 100vw;
    top: 60px;
    left: 200px;
    bottom: 0px;
    overflow: scroll;
    flex-direction: column;
    background-color: rgb(247, 246, 246);
  
}

.map-div .mission-div{
    position: relative;
    width: 100%;
    height: 90px;
    min-width: 500px;
    background-color: rgb(247, 246, 246);
    display: flex;
    
}

.mission-div .mission-info{
    position: relative;
    width: calc(100% - 290px);
    height: 100%;
    background-color: rgb(247, 246, 246);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-div .mission-info h1{
    font-size: 1em;

}
#mission-one {
    border-top:none;
}

.mission-div button{
    margin-top: 10px;
    height: 70px;
    width: 70px;
    background-color: grey;
    border-radius: 50%;
    font-size: 2em;
    color: white;
    padding: 0px;
    line-height: 70px;
    
}

.mission-div button text{
    margin-left: auto;
    margin-right: auto;
}

.map-div #info-editor{
    position: relative;
    background-color: rgb(255, 205, 54);  
    width: 100%;
    min-width: 500px;
    
}

#info-editor input{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    margin-left: 10px;
    width: 12%;
    font-size: 1em;
    border: none;
}

#info-editor button{
    position: relative;
    background-color:rgb(53, 207, 207);
    /*border: 3px solid #F65058FF;*/
    color: white;
    margin-left: 20px;
    top: 40%;
    transform: translateY(-50%);
    width: 10vw;
    height: 100vw;
    font-size: 1.3em;
    max-width: 70px;
    max-height: 50%;
    border-radius: 15px;
    line-height: 50%;
    border: none;
   



}

.main-div{
    background-color: rgb(247, 246, 246);
    position: fixed;
    width: 100vw;
    top: 0px;
    bottom: 0px;
    overflow: scroll;
    
}


@media (min-height: 600px) {
    .player-div .player-btm-div{
        background-color: white;
        position: absolute;
        width: 100%;
        height: 200px;
        
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 10px;
        bottom: 0px;
    }
}

@media (min-height: 612px) {
    .map-div #info-editor{
        
        background-color: rgb(255, 205, 54);
        position: absolute;
        bottom: 0px;
        min-width: 500px;
        overflow: scroll;
    }
}

/* newGame.php css*/

#demo, #shuffle {
    display: none;
}

.body-div{
    position: fixed;
    background-color: rgb(247, 246, 246);
    top: 60px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow: scroll;

}

.input-container{
    background-color: rgb(247, 246, 246);
    position: relative;
    right: 0px;
    left: 0px;
    top: 0px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: scroll;
}

.input-container input{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    font-size: 1em;

}

.btn-container {
    position: relative;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 100px;
    border-top: 2px solid rgb(255, 205, 54);
    display: flex;
    justify-content: space-evenly;
    overflow: scroll;
    
}

.btn-container button{
    position: relative;
    min-width: 100px;
    height: 50px;
    bottom: 0px;
    margin-top: 20px;
    font-size: 1em;
}

@media (min-height: 297px) and (min-width: 800px){
    .btn-container{
        position: fixed;
    }
}

@media (min-height: 334px) and (min-width: 637px){
    .btn-container{
        position: fixed;
    }
}

@media (min-height: 405px) and (min-width: 479px){
    .btn-container{
        position: fixed;
    }
}

@media (min-height: 405px) and (min-width: 319px){
    .btn-container{
        position: fixed;
    }
}

@media (min-height: 547px) and (max-width: 319px){
    .btn-container{
        position: fixed;
    }
}


